<!-- 親テンプレートを読み込む-->
{% extends 'video/base.html' %}
{% load static %}
{% load materializecss %}
{% load cloudinary %}

{% block extracss %}
    <!-- customcss -->
    <link rel="stylesheet" type="text/css" href="{% static 'video/css/gallery.css' %}">
{% endblock %}

{% block content %}
    <hr class="blank" color="gray">

    <div id="overlay">
        <div id="spinner-box" class="cv-spinner text-center mt-3">
            <div class="spinner-border text-dark" role="status"></div>
        </div>
    </div>

    <div id="data-box" class="photogallery">
        {% for video in all_videos %}
            <div class="photo">

                <div class="inner">
                    <a href="{% url 'video:pose' video.id %}">
                        <figure class="thumbnail">
                            {% if video.thumbnail %}
                                <img src="{{ video.thumbnail.name}}">
                                <!--<img src="{% static video.thumbnail.url %}">-->
                                <!--<figcaption class="overlay">{{ video.video_file.name }}</figcaption>-->
                            {% endif %}

                            {% if video.is_estimated %}
                                <span class="label material-icons">
                                    circle
                                </span>
                            {% endif %}
                        </figure>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block extrascript %}
    <script>
        $(document).ajaxSend(function(){
            $("#overlay").fadeIn(300);
        });

        $.ajax({
            type: 'GET',
            url: "{% url 'video:gallery' %}",
            success: function(response){
                //console.log('success!')
            },
            error: function(error){
                spinnerBox.classList.add('not-visible')
                dataBox.innerHTML = `<b>Failed to load the posts.</b>`
            }
        }).done(function(){
            window.addEventListener('load', function(){
                console.log('loaded.')
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                }, 300);
            });
        });
    </script>
{% endblock %}