<!-- 親テンプレートを読み込む-->
{% extends 'video/base.html' %}
{% load static %}

{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- videojs -->
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script src="{% static 'video/js/controls.js' %}"></script>
{% endblock %}

{% block extracss %}
    <!-- customcss -->
    <link rel="stylesheet" type="text/css" href="{% static 'video/css/pose.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if not video.is_estimated %}
            <div id="card" class="card">
                <div class="card-body">
                    <div class="row">
                        <button class="btn btn-primary col-12" id="start_button">
                            Pose Estimation
                        </button>
                    </div>

                    <div id="progress"></div>
                </div>
            </div>
        {% endif %}

        
        <div id="video-box" class="video-box">
            <video-js id="video" class="vjs-big-play-centered video overlay" controls playsinline>
                {% if video.is_estimated %}
                    <source src="{{ video.video_file }}" poster="{% static 'video/img/home.png' %}" type="video/mp4">
                {% else %}
                    <source src="{{ video.video_file.url }}" poster="{% static 'video/img/home.png' %}" type="video/mp4">
                {% endif %}
                <!--<source src="{% static video.video_file.url %}" poster="{% static 'video/img/home.png' %}" type="video/mp4">-->
            </video-js>
            
        </div>

        <div id ="check-box" class="not-visible">
            <button class="btn green lighten-1" onclick="location.href='{% url 'video:gallery' %}'">check</button>
        </div>

        
        
        <div id="del-btn" class="text-center">
            <!-- Modal Trigger -->
            <a class="red lighten-1 waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>
        </div>

        
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a class="btn red lighten-1 mx-2 del_btn modal-close" id="{{video.id}}">Delete</a>
            </div>
        </div>

        <script>
            // modal
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, 'dismissible');
            });
        </script>

        <script>
            const Card = document.getElementById('card')
            const delBtn = document.getElementById('del-btn')
            const checkBox = document.getElementById('check-box')
            
            //プログレスバー表示部分の初期状態
            const progresshtml = '<div id="progress"><div class="indeterminate"></div></div>';

            //処理開始ボタンが押された時の処理
            $("#start_button").on("click", function (event) {
                delBtn.innerHTML = ""
                console.log("start")
                let timer_id = 0;
                let url = "{% url 'video:setup' %}"
                $("#start_button").attr({ "disabled": true })
                //進捗管理インスタンス作成部分
                $.get(url, {},
                    function (data) {
                        console.log("get")
                        let pk = data
                        console.log("Data Loaded: " + data);

                        //プログレスバーを0.3秒ごとに取得開始
                        timer_id = setInterval(function () { ShowProgressBar(pk) }, 300)
                        //時間のかかる処理を開始
                        GetPose(pk)
                    }
                );
                //プログレスバーの取得
                function ShowProgressBar(progress_pk) {
                    $.get("{% url 'video:show_progress' %}", { progress_pk: progress_pk },
                        function (data) {
                            console.log("Data Loaded: " + data);
                            $("#progress").replaceWith(data);
                            // フレーム処理で一旦終了
                            if (document.getElementById("complete")){
                                //プログレスバー更新をやめる
                                clearInterval(timer_id);
                                let complete = document.getElementById('complete')
                                complete.classList.add('indeterminate')
                            }
                        }
                    );
                }
                //時間のかかる処理
                function GetPose(progress_pk) {
                    $.get("{% url 'video:do_something' video.id %}", { progress_pk: progress_pk },
                        function (data) {
                            console.log("Data Loaded: " + data);
                            
                            
                            //プログレスバー部分を元の状態に戻す
                            //$("#progress").replaceWith(progresshtml)
                            //処理結果表示
                            $("#video").replaceWith(data)
                            //$("#start_button").attr({ "disabled": false })
                            //Card.innerHTML = ""
                            $("#card").fadeOut(0);
                            checkBox.classList.remove('not-visible')
                            
                        }
                    );
                }

            });
        </script>

        <script>
            let dlBtn = $('.del_btn');

            dlBtn.on('click', function(event){
                event.preventDefault();
                var videoId = $(this).attr('id');

                $.ajax({
                    type: 'GET',
                    url: '{% url "video:delete" %}',
                    data: {video_id: videoId},
                    dataType: 'json',
                    success: function(data){
                        if(data.video_id)
                        {
                            var videoId = data.video_id;
                            window.location.href = "{% url 'video:gallery' %}";
                            //$('div').remove('#'+videoId);
                        }
                    }
                }); 
            });
        </script>
    </div>
{% endblock %}